/* *{
    box-sizing: border-box;
} */
.info-page{
    background-color: #f5f9ff;
    width: 100%;
    min-height: 700px;
    height: auto;
    box-sizing: border-box;
    overflow: hidden;
}
.infoPage-content{
    position: relative;
    width: 100%;
    max-width: 1725px;
    height: auto;
    margin-left: 50%;
    transform: translate(-50%);
    padding-top: 60PX;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.infoPage-content h2{
    color: rgb(0, 23, 85);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
}
.infoPage-content .infoPAge-description {
    color: rgb(26, 31, 61);
    font-size: 1.2rem;
    font-weight: 300;
    text-align: center;
    width: 90%;
}
.bwApps-grid{
    padding-top: 20px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    grid-row: auto;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    
    /* background-color: rgba(0, 255, 128, 0.219); */
    /* padding: 10px; */
}
.bwApp-hiden-on{
    display: none;
    transition: 1s ease-in-out;
}

.bwApp-hiden-off{
    display: contents;
    ;
    /* visibility: visible; */
}
.apps-toggle{
    padding-top: 35px;
    cursor: pointer;
}
.carruselFlexColum{
    display: flex;
    flex-direction: column;
}
.display-Flex{
    display: flex;
}
.carrusel-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: 300px;
    height: auto;
    /* background-color: aqua; */
    box-sizing: border-box;
    box-shadow: 0px 0px 10px 4px rgba(125, 177, 182, 0.315);
}
.carruselPuntos{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    /* color: #436575; */
    color: transparent;
    -webkit-text-stroke: 1px #436575;
    
    /* background-color: aqua; */
    font-size: 1.2rem;
    height: 50px;
}
.carrusel-btnPrev{
    border: none;
    background-color: transparent;
    width: 2rem;
    margin-left: 3px;
    cursor: pointer;
}
.carrusel-btnNext{
    border: none;
    background-color: transparent;
    width: 2rem;
    margin-left: 3px;
    cursor: pointer;
}

.slider-item{
    background-color: rgb(242, 247, 250);
    box-shadow: 15px 0px 80px -10px rgba(87, 87, 87, 0.555);
    width: 20.25vw;
    max-width: 300px;
    height: 20.25vw;
    max-height: 300px;
    scroll-snap-align: end ;
    overflow: hidden;
    box-sizing: border-box;
}

.slider-item:hover{
    cursor: pointer;
    background-color: rgb(234, 246, 255);
    /* transform: scale(0.98); */
}
.slider-item-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}
.img-item{
    width: 50%;
    height: auto;
}
.img-item img{
    border-radius: 50%;
    background-color: rgba(0, 23, 85, 0.89);
    /* background-color: rgb(229, 230, 241); */
    box-shadow: 0px 9px 40px 1px rgba(0, 23, 85, 0.356);
}
.tittle-item{
    width: 90%;
    /* background-color: blueviolet; */
    /* font-size: 1.5rem; */
    margin-top: -30px;
    font-size: 1.5vw;
    color: rgb(0, 23, 85);

}
.description-item{
    width: 90%;
    font-size: 1vw;
    margin-top: -30px;
    color: rgb(0, 23, 85);
    /* background-color: chartreuse; */
}

/* -----------------Maximo (phone)-------------------------------------------------------------------------------------------- */
@media (max-width:500px){
    .infoPage-content{
        width: 95%;
    }
    .bwApps-grid{
        /* gap: 10px; */
    }

    .slider-item{
        width: 300px;
        height: 300px;
    }
    
    .tittle-item{
        font-size: 1.5rem;
    
    }
    .description-item{
        font-size: 1rem;
    }
    .infoPage-content .infoPAge-description {
        color: rgb(125, 153, 204);
        font-size: 1rem;
        text-align: center;
        width: 90%;
    }
    .carrusel-btnPrev{
        width: 1.5rem;
    }
    .carrusel-btnNext{
        width: 1.5rem;
    }
    
    .carruselPuntos{
        font-size: .8rem;
    }
    
}


/* -------------------Minimo  (pantallas grandes)------------------------------------------------------------------------------------------ */
@media (min-width:1825px){
    
}