.bw-cover{   
    background-image: url("./clouds.png");
    background-size: 100% 100% ;
    margin-top: 0;
}
.bw-cover-content-blur{
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.363);
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    /* para desenfocar detras de */
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    z-index: 50;
    
    justify-content: center;
    align-items: center;
}
.bw-cover-contenedor{
width: 100%;
height: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.bw-cover-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 80%;
    /* background-color: tomato; */
    
}
.bw-cover-dow{
    width: 100%;
    height: 10%;
    background-color: teal;
}
.bw-cover-content-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "awhite arrow links";
    width: 100%;
    height: 100%;
}
.bw-cover-content-grid .white{
        grid-area: awhite;
        background-color: rgb(255, 255, 255);
}
.bw-cover-content-grid .arrow{
        grid-area: arrow;
        background-color: rgb(49, 134, 78);
}
.bw-cover-content-grid .links{
        grid-area: links;
        background-color: rgb(33, 146, 199);
}

/* -----------------Maximo (phone)-------------------------------------------------------------------------------------------- */
@media (max-width:850px){
    /* @media screen and (max-width:500px){ */
    .bw-cover{
        background-size: auto 100%;
    }
    .bw-cover-content-grid{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "arrow"
                            "links"
                            "links";        
    }
   
}
/* -------------------Minimo  (pantallas grandes)------------------------------------------------------------------------------------------ */
@media (min-width:1826px){
    .bw-cover-contenedor{
        width: 1825px;
        height: 100%;
        }
}
