.contact-page{
    background-color: #f5f9ff;
    /* background-color: rgb(245, 249, 255); */
    /* background-color: #6090d6; */
    width: 100%;
    min-height: 700px;
    height: auto;
    box-sizing: border-box;
    overflow: hidden;

}
.contactContainer{
    /* background-color: cyan; */
    position: relative;
    width: 100%;
    max-width: 1725px;
    height: auto;

    margin-left: 50%;
    transform: translate(-50%);

    padding-top: 10PX;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.grid-contact-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:    "picture text"
                            "textDown textDown";
    width: 100%;
    height: 100%;
}
.contactPicture{
    grid-area: picture;
    /* background-color: blueviolet; */
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contactPicture img{
    width: 70%;
    border-radius: 18px;
    box-shadow: 1px 0px 15px 5px rgba(9, 4, 29, 0.856);
}
.contactText{
    grid-area: text;
    /* background-color: chartreuse; */
    min-height: 170px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contactText p{ 
    width: 80%;
    color: rgb(25, 53, 85);
    font-size: 1.2rem;
    text-align: justify;
    line-height: 25px;
    
}
.contactTextDown{
    grid-area: textDown;
    /* background-color: coral; */
    margin-top: 20px;
    /* height: 90px; */
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.sliderBabies{
    /* background-color: mediumblue; */
    height: 250px;
    margin: auto;
    position: relative;
    width: 100%;
    display: grid;
    place-items: center;
    overflow: hidden;
}
.sliderBabies::before,
.sliderBabies::after{
    background: linear-gradient(to right, rgba(245,249,255,1)0%,
    rgba(245,249,255,0)100%);
    content: '';
    height: 100%;
    position: absolute;
    width: 15%;
    z-index: 50;
}
.sliderBabies::before{
    left: 0;
    top:0;
}
.sliderBabies::after{
    right: 0;
    top:0;
    transform: rotateZ(180deg);
}

.sliderTrackBabies{
    /* background-color: lawngreen; */
    display: flex;
    /* width: calc(250px * 2);  */
    width: 100%;
    animation: scroll 40s linear infinite;
    /* background-color: skyblue; */
}
.sliderTrackBabies:hover{
    animation-play-state: paused;
}
@keyframes scroll {
    0%{
        transform: translateX(0);
    }
    100%{ 
        transform: translateX(calc(-260px*9));
    }
}
.sildeBabies{
    height: 200px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 5px;
    
}
.sildeBabies img {
    width: 100%; 
    border-radius: 5px;
    transition: .15s ease-in; 
}
.sildeBabies img:hover {
    transform: scale(1.2);
}


/* -----------------Maximo (phone)-------------------------------------------------------------------------------------------- */
@media (max-width:500px){
    .grid-contact-container{
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas:    "picture"
                                "text"
                                "textDown";
    }   
    .contactText p{ 
        width: 90%;
        color: rgb(57, 121, 194);
        font-size: 1rem;
        text-align: justify;
        line-height: 25px;
        font-weight: 300;
        
    }
    /* .sliderTrackBabies{ */
        /* width: calc(250px * 9);  */
        /* width: 100%; */
    /* } */
    .contactTextDown{
        width: 100%;
    }

}


/* -------------------Minimo  (pantallas grandes)------------------------------------------------------------------------------------------ */
@media (min-width:1825px){
    
}