
.carruselContainer{
    /* max-width: 1500px; */
    height: auto;
    display:flex;
    align-items:center;
    justify-content:center;
    box-shadow: 0px 0px 10px 4px rgba(125, 177, 182, 0.315);
    /* background-color: aqua; */
}
.slider{
    display: grid;
    grid-auto-flow: column;
    overflow: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-color: transparent #f5f9ff;
    scrollbar-width: thin;
}
.slider::-webkit-scrollbar{
    display: none;
}
.dotActive{
    color: #436575;
    -webkit-text-stroke: 1px #436575;
    /* filter: drop-shadow(0px 0px 5px rgb(15, 207, 255)); */
}

/* -----------------Maximo (phone)-------------------------------------------------------------------------------------------- */
@media (max-width:500px){
    .carruselContainer{
        width: 300px;
    }
}


/* -------------------Minimo  (pantallas grandes)------------------------------------------------------------------------------------------ */
@media (min-width:1825px){
    
}