.flexContent{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding-left: 40px;
    /* background-color: slateblue; */
    
}
.bwApp-card{
    width: 50%;
    max-width: 300px;
    min-width: 200px;
    height: 120px;
    border-radius: 35px;
    box-shadow: 0px 1px 20px 2px rgba(37, 84, 153, 0.671);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.bwApp-card:hover{
    cursor: pointer;
    transform: scale(.97);
    box-shadow: 0px 1px 10px 1px rgba(37, 84, 153, 0.671);
}
.img-card{
    width: 30%;
    margin-right: 0;
}
.name-card{
    color: white;
    -webkit-text-stroke: .4px black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30PX;
    font-weight: bold;
    /* background: rgba(0, 0, 0, 0.295); */
    /* border-radius: 4PX; */
    padding: 10px;
    
}
.desc-card{
    width: 90%;
    padding-left: 20px;
}
.backgroundUno{
    background: linear-gradient(90deg, rgb(187, 237, 241) 0%, rgba(118,254,255,1) 43%, rgba(7,101,133,1) 100%);
}
.backgroundDos{
    background: linear-gradient(90deg, rgba(112,167,255,1) 0%, rgba(147,22,240,1) 56%, rgba(214,22,240,1) 100%);
}
.backgroundTres{
    background: linear-gradient(90deg, rgba(185,112,255,1) 11%, rgba(8,174,234,1) 56%, rgba(42,245,152,1) 100%);
}
.backgroundCuatro{
    background: linear-gradient(90deg, rgba(255,90,205,1) 11%, rgba(255,90,150,1) 56%, rgba(251,218,97,1) 100%);
}
.backgroundCinco{
    background: linear-gradient(90deg, rgba(112,167,255,1) 0%, rgba(22,105,240,1) 56%, rgba(22,105,240,1) 100%);
}
.backgroundSeis{
    background: linear-gradient(90deg, rgba(0,227,217,1) 0%, rgba(118,255,171,1) 43%, rgba(7,101,133,1) 100%);
}
.backgroundSiete{
    background: linear-gradient(90deg, rgba(255,90,205,1) 11%, rgba(255,90,150,1) 56%, rgba(251,218,97,1) 100%);
}
.backgroundOcho{
    background: linear-gradient(90deg, rgba(185,112,255,1) 11%, rgba(8,174,234,1) 56%, rgba(42,245,152,1) 100%);
}
.backgroundNueve{
    background: linear-gradient(90deg, rgba(112,167,255,1) 0%, rgba(147,22,240,1) 56%, rgba(214,22,240,1) 100%);
}
.backgroundDiez{
    background: linear-gradient(90deg, rgba(112,167,255,1) 0%, rgba(22,105,240,1) 56%, rgba(22,105,240,1) 100%);
}



/* -----------------Maximo (phone)-------------------------------------------------------------------------------------------- */
@media (max-width:850px){

.flexContent{
    flex-direction: column;
    width: 100%;
    padding-left: 5px;
}
.bwApp-card{
    /* background-color: springgreen; */
    width: 95%;
    height: 80px;
    border-radius: 20px;
    max-width: 95%;
    min-width: 90%;
}  
.desc-card{
    width: 90%;
    padding-left: 0px;
    /* background-color: springgreen; */
    text-align: right;
}
.img-card{
    margin-right: 0;
}
.name-card{
    font-size: 15PX;
    padding: 0px;
    padding-left: 5px;
}
}